$border-properties: 1px solid rgba(235, 235, 235, 0.5);
$main-color: rgb(75, 177, 190);
$main-color-darker: rgb(95, 197, 210);

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 3em;

  .jumbotron {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 1em;
    .main-text {
      margin: 0.25em 0;
      color: rgb(70, 70, 70);
    }
    .secondary-text {
      margin: 0.25em 0;
      color: rgb(100, 100, 100);
    }
  }

  .search-box {
    display: flex;
    flex-flow: column;
    padding: 2em;
    border: 1px solid rgba(240, 240, 240, 1);
    background: #fff;
    padding-bottom: 1em;
    flex-basis: 30%;
    border-radius: 5px;

    .submit-button {
      border: 2px solid $main-color;
      border-radius: 5px;
      background: #fff;
      padding: 0.5em 0;
      width: 8em;
      align-self: flex-end;
      cursor: pointer;
      outline: none;
      transition: transform 0.25s;

      &:hover {
        border: 2px solid $main-color-darker;
        transform: scale(1.05);
      }
    }
  }
}

::ng-deep .cdk-overlay-pane ::-webkit-scrollbar {
  width: 6px;
}

::ng-deep .cdk-overlay-pane ::-webkit-scrollbar-track {
  border-radius: 2px;
  opacity: 0.2;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.195);
}

::ng-deep .cdk-overlay-pane ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 0.265);
}
