$border-properties: 1px solid rgba(235, 235, 235, 0.5);
$main-color: rgb(75, 177, 190);
$main-color-darker: rgb(95, 197, 210);
$dark-grey-1: rgb(70, 70, 70);
$dark-grey-2: rgb(100, 100, 100);
$bg-light-grey-1: rgb(247, 247, 247);
$bg-light-grey-2: rgb(249, 249, 249);
$bg-light-grey-hover-1: #d9f0f2;
$column-padding: 1em;

main {
  margin: 3em 0;
  .table {
    &-main-text {
      color: $dark-grey-1;
    }
    &-secondary-text {
      color: $dark-grey-2;
    }
  }
  .employees-header {
    &.list-outer {
      background: $main-color;
      color: #fff;
    }
  }

  .employees-main {
    &.list-outer {
      > .list-inner {
        background: $bg-light-grey-1;
        &:nth-child(even) {
          background: $bg-light-grey-2;
        }
      }
    }
  }

  /* Table in-common */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-transform: capitalize;
      text-align: center;
    }
  }

  &.fiveCol {
    .employees-header {
      &.list-outer {
        padding: $column-padding;
        @extend %list-grid-five-col;
      }
    }
    .employees-main {
      &.list-outer {
        > .list-inner {
          @extend %column-styling;
          &:hover {
            background: $bg-light-grey-hover-1;
            cursor: pointer;
          }
          > .column-wrapper {
            @extend %list-grid-five-col;
          }
        }
      }
    }
  }

  &.sixCol {
    .employees-header {
      &.list-outer {
        padding: $column-padding;
        @extend %list-grid-six-col;
      }
    }
    .employees-main {
      &.list-outer {
        > .list-inner {
          @extend %column-styling;
          &:hover {
            background: $bg-light-grey-hover-1;
          }
          > .column-wrapper {
            @extend %list-grid-six-col;
          }
        }
      }
    }
  }

  &.sevenCol {
    .employees-header {
      &.list-outer {
        padding: $column-padding;
        @extend %list-grid-seven-col;
      }
    }
    .employees-main {
      &.list-outer {
        > .list-inner {
          @extend %column-styling;
          &:hover {
            background: $bg-light-grey-hover-1;
          }
          > .column-wrapper {
            @extend %list-grid-seven-col;
          }
        }
      }
    }
  }
}

.employees-main.list-outer .column-wrapper > .column-item {
  &:nth-last-child(1),
  &:nth-last-child(2) {
    ::ng-deep .fas {
      cursor: pointer;
      &:hover {
        transform: scale(1.15);
        background: hsla(185, 49%, 80%, 0.5);
        box-shadow: 0px 0px 5px 5px hsla(185, 49%, 80%, 0.5);
      }
    }
  }
}

%column-styling {
  padding: $column-padding;
  border-left: $border-properties;
  border-right: $border-properties;
  &:last-of-type {
    border-bottom: $border-properties;
  }
}

%list-grid-five-col {
  display: grid;
  grid-auto-columns: 15% 30% 10% 20% 25%;
  grid-template-areas: "index name status position email";
}

%list-grid-six-col {
  display: grid;
  grid-auto-columns: 15% 30% 15% 15% 12.5% 12.5%;
  grid-template-areas: "when when available-days index accept reject";
}

%list-grid-seven-col {
  display: grid;
  grid-auto-columns: 15% 30% 13% 15% 9% 9% 9%;
  grid-template-areas: "when when available-days index status accept reject";
}

:host ::ng-deep .fa-check,
:host ::ng-deep .blue-color {
  color: #79c4ce;
}
:host ::ng-deep .fa-times {
  color: #ed6464;
}
