@import "../../../variables.scss";
@import "../../../templates.scss";

$border-properties: 1px solid rgba(235, 235, 235, 0.5);

.employees {
  margin: 3em 0;
  > header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 3em;

    .jumbotron {
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-bottom: 1em;
      .main-text {
        margin: 0.25em 0;
        color: rgb(70, 70, 70);
      }
      .secondary-text {
        margin: 0.25em 0;
        margin-left: 1em;
        color: rgb(100, 100, 100);
      }
    }

    .search-box {
      display: flex;
      flex-flow: column;
      padding: 2em;
      border: 1px solid rgba(240, 240, 240, 1);
      background: #fff;
      padding-bottom: 1em;
      flex-basis: 30%;
      border-radius: 5px;

      .submit-button {
        @include button(
          $border-width: 2px,
          $border-color: $main-color,
          $border-radius: 5px,
          $padding: 0.5em 0
        );
        width: 8em;
        align-self: flex-end;
        transition: transform 0.25s;

        &:hover {
          border: 2px solid $main-color-light-2;
          transform: scale(1.05);
        }
      }
    }
  }
  > main {
    margin: 3em 0;
    .employees-header.list-outer {
      background: $main-color;
      color: #fff;

      > .list-inner {
        @extend %deepest-li-child;
      }
    }

    .employees-main.list-outer {
      flex-flow: column;

      > .list-inner {
        &:nth-child(even) {
          background: rgba(247, 247, 247, 1);
        }

        .list-outer {
          flex-flow: row;

          .list-inner.label-name {
            @extend %deepest-li-child;
          }
        }
      }
    }

    /* Table in-common */
    .list-outer {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      .list-inner {
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}

%deepest-li-child {
  padding: 1em;
  flex-basis: 20%;
  border-left: $border-properties;
  &:last-of-type {
    border-right: $border-properties;
  }
}
