<h2>{{ description }}</h2>
<mat-dialog-content [formGroup]="options">
  <mat-form-field>
    <input formControlName="name" matInput placeholder="Name" required />
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="startDate"
      matInput
      [matDatepicker]="startDate"
      placeholder="Choose start date"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker
      #startDate
      startView="year"
      [startAt]="startAt"
    ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="endDate"
      matInput
      [matDatepicker]="endDate"
      placeholder="Choose end date"
      required
    />
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker
      #endDate
      startView="year"
      [startAt]="startAt"
    ></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="location" matInput placeholder="Location" />
  </mat-form-field>
  <div class="radio-container">
    <label class="required">Calendar Type:</label>
    <mat-radio-group formControlName="calendarType" required>
      <mat-radio-button value="negotium">Negotium Calendar</mat-radio-button>
      <mat-radio-button value="google">Google Calendar</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="radio-container">
    <label class="required">Remind me:</label>
    <mat-radio-group
      formControlName="remindType"
      required
      [(ngModel)]="remindMeSwitch"
    >
      <mat-radio-button value="negotium">Before Event</mat-radio-button>
      <mat-radio-button value="google">After Event</mat-radio-button>
      <mat-radio-button value="at">At</mat-radio-button>
    </mat-radio-group>

    <div class="ml-1" *ngIf="remindMeSwitch === 'at'">
      <mat-form-field required>
        <input
          formControlName="remindDate"
          matInput
          [matDatepicker]="remindDate"
          placeholder="Choose remind date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="remindDate"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #remindDate
          startView="year"
          [startAt]="startAt"
        ></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="radio-container">
    <label class="required">Event Type:</label>
    <mat-radio-group formControlName="eventType" required>
      <mat-radio-button value="success">Success</mat-radio-button>
      <mat-radio-button value="warning">Warning</mat-radio-button>
      <mat-radio-button value="attention">Attention</mat-radio-button>
    </mat-radio-group>
  </div>
  <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
  <button
    *ngIf="data.event"
    class="mat-raised-button mat-warn"
    (click)="delete()"
  >
    Delete
  </button>
</mat-dialog-actions>
