<div class="employee">
  <nav class="nav-buttons">
    <button class="nav-button-back">
      Back to the list
    </button>
    <div class="nav-buttons-group">
      <button class="nav-buttons-group-button block-button">
        Block employee
      </button>
      <button class="nav-buttons-group-button blue-button">
        Save changes
      </button>
    </div>
  </nav>

  <header class="employee-info">
    <span class="employee-info-name">Frank Smith</span>
    <span class="employee-info-assignment">Waiter of Umiau</span>
    <div class="employee-info-daily">
      <h2 class="employee-info-daily-heading">Daily information</h2>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ipsam
        accusamus alias odio neque unde?!</span
      >
      <button class="button-details">Details</button>
    </div>
  </header>
  <main>
    <span class="main-heading">Basics</span>
    <div class="basic-info">
      <div *ngFor="let info of employeeInfo" class="basic-info-box">
        <header>
          {{ info.name }}

          <i
            *ngIf="info.tooltip"
            [matTooltip]="info.tooltip"
            class="fas fa-info-circle basic-info-box-tooltip"
          ></i>
        </header>
        <main>
          <span [innerHtml]="info.value"></span>
          <i class="fas fa-pen basic-info-box-pen"></i>
        </main>
      </div>
    </div>
    <div class="additional-info">
      <h2>Send employee for the trainig course</h2>
      <div class="additional-info-forms">
        <mat-form-field>
          <input matInput placeholder="Where?" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="When?" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox>Add it to the calendar?</mat-checkbox>
      </div>

      <h2>Increase/decrease the salary.</h2>
      <div class="additional-info-salary">
        <mat-form-field>
          <input
            matInput
            #postalCode
            maxlength="5"
            placeholder="Salary"
            value=""
          />
        </mat-form-field>
        <span class="additional-info-salary-text">per</span>
        <mat-form-field class="additional-info-salary-units">
          <mat-select [(value)]="selectedUnit">
            <mat-option *ngFor="let unit of periodUnits" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </main>
</div>
