<div class="employee">
  <nav class="nav-buttons">
    <button class="nav-button-back">
      Back to the list
    </button>
    <div class="nav-buttons-group">
      <button
        *ngIf="mode === 'employee'"
        class="nav-buttons-group-button block-button"
      >
        Block employee
      </button>
      <button
        *ngIf="mode === 'employee'"
        class="nav-buttons-group-button blue-button"
      >
        Save changes
      </button>
      <button
        (click)="submitFormProgrammatically()"
        *ngIf="mode === 'add-employee'"
        class="nav-buttons-group-button blue-button"
      >
        Add employee
      </button>
    </div>
  </nav>

  <header class="employee-info">
    <span class="employee-info-name">{{ findValueByName("Name") }}</span>
    <span class="employee-info-assignment">{{
      findValueByName("Position")
    }}</span>
    <div class="employee-info-daily" *ngIf="mode === 'employee'">
      <h2 class="employee-info-daily-heading">Daily information</h2>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ipsam
        accusamus alias odio neque unde?!</span
      >
      <button class="button-details">Details</button>
    </div>
  </header>
  <main>
    <span class="main-heading">Basics</span>
    <form
      [formGroup]="form"
      #formRef="ngForm"
      class="basic-info"
      (ngSubmit)="onSubmit()"
    >
      <div *ngFor="let label of employeeInfo" class="basic-info-box">
        <header>
          {{ label.name }}
          <i
            *ngIf="label.tooltip"
            [matTooltip]="label.tooltip"
            class="fas fa-info-circle basic-info-box-tooltip"
          ></i>
        </header>
        <main
          class="employee-info-values"
          [class.isDisabled]="findIfIsDisabledByName(label.name)"
        >
          <mat-form-field>
            <input
              [formControlName]="label.name"
              matInput
              [placeholder]="mode === 'add-employee' && label.name"
              *ngIf="label.name != 'Additional information'; else textArea"
            />
            <ng-template #textArea>
              <textarea
                [formControlName]="label.name"
                matInput
                [placeholder]="mode === 'add-employee' && label.name"
              ></textarea
            ></ng-template>
          </mat-form-field>
          <i
            *ngIf="mode === 'employee'"
            class="fas fa-pen basic-info-box-pen"
            (click)="toggleKey(label.name)"
          >
          </i>
        </main>
      </div>
    </form>
    <div class="additional-info">
      <h2>Send employee for the trainig course</h2>
      <div class="additional-info-forms">
        <mat-form-field>
          <input matInput placeholder="Where?" />
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="When?" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox>Add it to the calendar?</mat-checkbox>
      </div>

      <h2>Increase/decrease the salary.</h2>
      <div class="additional-info-salary">
        <mat-form-field>
          <input
            matInput
            #postalCode
            maxlength="5"
            placeholder="Salary"
            value=""
          />
        </mat-form-field>
        <span class="additional-info-salary-text">per</span>
        <mat-form-field class="additional-info-salary-units">
          <mat-select [(value)]="selectedUnit">
            <mat-option *ngFor="let unit of periodUnits" [value]="unit">
              {{ unit }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </main>
</div>
