<div class="dashboard">
  <section class="images-info">
    <article class="images-info__image">
      <img src="assets/icons/wallet.png" /><b>12$</b><span>Today</span>
    </article>
    <article class="images-info__image">
      <img src="assets/icons/money.png" /><b>12$</b><span>Current month</span>
    </article>
    <article class="images-info__image">
      <img src="assets/icons/target.png" /><b>12</b><span>Today</span>
    </article>
    <article class="images-info__image">
      <img src="assets/icons/people.png" /><b>12</b><span>Current month</span>
    </article>
  </section>
  <section class="svg-graph">
    <header>
      <h2>Sale graph</h2>
    </header>
    <section class="bar-graph-section">
      <canvas #saleGraph class="saleGraph"></canvas>
    </section>
  </section>
  <section class="bar-graph-section">
    <h2>Product consumption ratio to product sale</h2>
    <div class="bar-label-name-group">
      <div class="under-graph">
        <div class="under-graph-col">
          <span *ngFor="let bar of barGraphName" class="under-graph-name">{{
            bar
          }}</span>
        </div>
        <div class="under-graph-col">
          <span
            *ngFor="let bar of barGraphName; let i = index"
            class="under-graph-bar"
            [ngStyle]="{
              backgroundColor:
                'hsl(190, ' +
                (100 - (i / 10) * 90 * 2) +
                '%, ' +
                (20 + (i / 10) * 55 * 2) +
                '%)'
            }"
          ></span>
        </div>
      </div>
    </div>
    <div class="bar-graph">
      <div class="bar-label-group">
        <div
          class="bar-label"
          *ngFor="let label of barGraphLabel; let i = index"
          [style.bottom]="i * 10 + '%'"
        >
          <span>{{ label }}</span>
        </div>
      </div>
      <div class="bar-group">
        <div class="bar" *ngFor="let period of transformedBar">
          <div
            *ngFor="let bar of period; let i = index"
            [ngStyle]="{
              height:
                (bar / barGraphLabel[barGraphLabel.length - 1]) * 100 + '%',
              backgroundColor:
                'hsl(190, ' +
                (100 - (i / 10) * 90 * 2) +
                '%, ' +
                (20 + (i / 10) * 55 * 2) +
                '%)'
            }"
          ></div>
        </div>
      </div>
      <div class="bar-bottom-group">
        <div
          class="month"
          *ngFor="
            let month of [
              'I',
              'II',
              'III',
              'IV',
              'V',
              'VI',
              'VII',
              'VIII',
              'IX',
              'X',
              'XI',
              'XII'
            ]
          "
        >
          {{ month }}
        </div>
      </div>
    </div>
  </section>
  <section class="circle-graphs-group">
    <article class="circle-graph">
      <app-circle-graph-full graphText="60%" [dataset]="transformedProducts"
        >Payments</app-circle-graph-full
      >
    </article>
    <article class="circle-graph">
      <app-circle-graph-full
        graphText="<i class='fas fa-file-invoice-dollar'></i>"
        [dataset]="transformedProducts"
        >Tips</app-circle-graph-full
      >
    </article>
    <article class="circle-graph">
      <app-circle-graph-full [dataset]="transformedProducts"
        >The most selling products</app-circle-graph-full
      >
    </article>
  </section>
</div>
