@mixin flex-adjust(
  $flex-flow: row,
  $align-items: unset,
  $justify-content: unset
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

section.day {
  @include flex-adjust(column, center);
  width: 100%;

  &.month-mode {
    border: 1px solid rgba(0, 0, 0, 0.05);

    &.unactive-month {
      background: rgba(245, 245, 245, 1) !important;
    }

    &.highligted-day {
      b {
        color: #ff1a00 !important;
      }
    }

    header {
      border: none !important;
      padding: 0 0.5em !important;
      display: flex;

      .date {
        font-size: 3.5em !important;
      }
    }
  }

  .day-inner {
    width: 100%;

    header {
      padding: 1em 0.5em;
      width: 100%;
      text-transform: capitalize;
      @include flex-adjust(row, center, space-between);
      border-right: 1px solid rgba(240, 240, 240, 1);

      b.date {
        font-size: 2.5em;
      }

      &.highligted-day {
        b {
          color: #ff1a00 !important;
        }
      }
    }
  }
}

.aspect-ratio-out-70 {
  padding-top: 70% !important;
  position: relative !important;
}

.aspect-ratio-in {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
