$grey-darker: rgba(240, 240, 240, 1);
$border-columns-color-month: rgba(0, 0, 0, 0.05);
$highligted-day-color: rgb(255, 26, 0);
$date-color: rgb(84, 84, 84);
$grey-lighter: rgba(245, 245, 245, 1);
$dark-grey-lighter: rgba(70, 70, 70, 1);
$dark-grey-darker: rgba(80, 80, 80, 1);

@mixin flex-adjust(
  $flex-flow: row,
  $align-items: unset,
  $justify-content: unset
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

section.day {
  @include flex-adjust(column, center);
  width: 100%;
  outline: none;

  &.month-mode {
    border: 1px solid $border-columns-color-month;
    cursor: pointer;

    &.unactive-month {
      background: $grey-darker;
    }

    &.highligted-day {
      b {
        color: $highligted-day-color;
      }
    }

    header {
      border: none;
      padding: 0 0.5em;
      display: flex;

      .date {
        font-weight: 100;
        font-size: 3em;
      }
    }
  }

  .day-inner {
    width: 100%;

    .btn-add-event {
      position: absolute;
      right: 5px;
      top: 5px;
      border: none;
      background: $dark-grey-darker;
      width: 35px;
      height: 35px;
      border-radius: 5px;
      font-size: 1.6em;
      color: $grey-darker;
      cursor: pointer;
      outline: none;

      &:hover {
        color: white;
        background: $dark-grey-lighter;
      }
    }

    &.day-mode {
      app-event {
        display: flex;
        flex-flow: column;
      }
    }

    header {
      padding: 1em 0.5em;
      width: 100%;
      text-transform: capitalize;
      @include flex-adjust(row, center, space-between);
      border-right: 1px solid $grey-lighter;

      b.date {
        font-size: 2.5em;
      }

      &.highligted-day {
        b {
          color: $highligted-day-color;
        }
      }
    }
  }
}

.aspect-ratio-out-70 {
  padding-top: 70%;
  position: relative;
}

.aspect-ratio-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
