<mat-slider
  min="0"
  max="2"
  step="1"
  [(ngModel)]="sliderValue"
  (change)="handleChangeMode($event)"
  [displayWith]="formatLabel"
  thumbLabel
>
</mat-slider>
<div>
  <button (click)="pastDays()">
    <
  </button>
  <span *ngIf="actualMode === 'week'">
    {{ startDate | getDate: "date" }} -</span
  >
  <span *ngIf="actualMode !== 'month'"> {{ endDate | getDate: "date" }}</span>

  <span> {{ monthName }} </span>
  <span *ngIf="actualMode === 'month'">{{ currentYear }} </span>
  <button (click)="futureDays()">></button>
</div>
<div
  [ngClass]="{
    calendar: true,
    'day-mode': actualMode === 'day' ? true : false
  }"
>
  <app-calendar-header
    *ngFor="let day of convertedDaysOfWeek; let index = index"
    [actualMode]="actualMode"
    [convertedDaysOfWeek]="convertedDaysOfWeek"
    [week]="week"
    [monthName]="monthName"
    [day]="day"
    [index]="index"
  >
  </app-calendar-header>
  <app-day
    *ngFor="let day of convertedDays; let index = index"
    [actualMode]="actualMode"
    [convertedDays]="convertedDays"
    [week]="week"
    [monthName]="monthName"
    [day]="day"
    [index]="index"
  >
  </app-day>
</div>
