// ------ CONFIG ------------
$width-open: 300px;
$width-hidden: 90px;

// ---------------------------------------

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  opacity: 0.2;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.195);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  opacity: 0.2;
  background-color: rgba(0, 165, 165, 0.965);
}

nav {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "logo"
    "toggler"
    "menu";

  height: 100vh;
  padding-top: 40px;
  margin: 0;
  overflow: hidden;

  background: #2c3c4b;
  color: #ffffff;

  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  .nav-logo {
    grid-area: logo;

    margin: 0 0.5em;

    font-size: 26px;
    border-bottom: 1px solid rgba(253, 253, 253, 0.675);

    h1 {
      display: inline;
    }
  }

  .nav-toggler {
    grid-area: toggler;
  }

  ul.nav-menu {
    grid-area: menu;

    width: $width-open;

    margin-top: 0;
    padding: 0;
    overflow-y: auto;

    list-style: none;
  }
}

nav.hidden {
  animation: slide-menu-hidden 0.3s;
  & ul.nav-menu {
    animation: slide-menu-hidden 0.3s;
    width: $width-hidden;
  }
}

nav.opened {
  animation: slide-menu-opened 0.3s;
  & ul.nav-menu {
    animation: slide-menu-opened 0.3s;
  }
}

.toggler-icon {
  color: #00a5a5;
  margin: 1em 0;
  transition: transform 0.3s;
  font-size: 20px;
  cursor: pointer;

  i.fa-caret-left {
    left: -0.05em;
    color: #2c3c4b;

    &:hover {
      color: white;
    }
  }

  .hidden & {
    transform: rotate(-180deg);
  }
}

.nav-logo-icon {
  display: inline;
  margin: 22px 4px;

  .hidden & {
    display: none;
  }
}

h1 {
  margin: 10px 0;
}

.fas,
.far {
  margin-right: 5px;
}

@keyframes slide-menu-hidden {
  from {
    width: $width-open;
  }
  to {
    width: $width-hidden;
  }
}

@keyframes slide-menu-opened {
  from {
    width: $width-hidden;
  }
  to {
    width: $width-open;
  }
}
