<div *ngIf="!mobileView">
  <nav class="side-nav" *ngIf="!mobileView && counter === 0">
    <div class="nav-wrapper">
      <i
        class="fas fa-caret-down"
        [ngClass]="menuStatus ? 'active-wrap-btn' : 'inactive-wrap-btn'"
      ></i>
      <div class="nav-logo">
        <i class="fas fa-utensils"></i>
        <h1>caupona</h1>
      </div>
      <span class="nav-logo-line"></span>

      <ul>
        <li
          *ngFor="let menuItem of menuItems"
          routerLinkActive="nav-item-active"
        >
          <a routerLink="{{ menuItem.name }}"
            ><i [class]="menuItem.icon"></i>
            <p *ngIf="!menuStatus">{{ menuItem.name }}</p></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <i
    class="fas fa-caret-down"
    (click)="wrapMenu()"
    [ngClass]="menuStatus ? 'active-wrap-btn' : 'inactive-wrap-btn'"
  ></i>
  <nav
    class="side-nav"
    *ngIf="counter > 0"
    [ngClass]="menuStatus ? 'hidden' : 'opened'"
  >
    <div class="nav-wrapper">
      <div class="nav-logo">
        <i
          [ngClass]="logoText === 'Caupona' ? 'show-ics' : 'hide-ics'"
          class="fas fa-utensils"
        ></i>
        <h1>{{ logoText }}</h1>
      </div>
      <span class="nav-logo-line"></span>
      <ul [ngClass]="menuStatus ? 'small-ics' : 'normal-ics'">
        <li
          *ngFor="let menuItem of menuItems"
          routerLinkActive="nav-item-active"
        >
          <a routerLink="{{ menuItem.name }}"
            ><i [class]="menuItem.icon"></i>
            <p *ngIf="!menuStatus">{{ menuItem.name }}</p></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
