@import "../../../../variables.scss";
@import "../../../../templates.scss";

main {
  @extend %flex-center;
  width: calc(100vw - 2em);
  height: calc(100vh - 2em);
  > div {
    &.login-modal {
      display: grid;
      grid-template-columns: 30% 70%;
      width: 75%;
      height: 75%;
      > aside {
        @extend %flex-center;
        @include left-border-rounded();
        background: $main-color;
        position: relative;
        flex-flow: column;
        padding: 5em 2em;
        span {
          &.logo {
            @include position-absolute(1em);
            color: $white;
            opacity: 0.2;
            user-select: none;
            &::first-letter {
              font-size: 2.5em;
            }
          }
          &.sub-welcome-text {
            font-size: $sub-heading-size-2;
            color: $white;
            width: max-content;
            display: flex;
            margin: 1em 0 4em 0;
            font-family: Roboto;
          }
        }
        h2 {
          &.welcome-text {
            font-size: $heading-size-2;
            color: $white;
            width: max-content;
            margin: 0;
            font-family: Reem Kufi;
          }
        }
        button {
          &.aside-button {
            @include button(
              $border-color: $white,
              $font-size: $button-text-size-2,
              $color: $white,
              $background: transparent,
              $padding: 0 1.75em,
              $line-height: 1.8em
            );
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
      > section {
        @include right-border-rounded();
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: $white;
        position: relative;
        flex-flow: column;
        padding: 2em 2em;
        > h2 {
          &.heading {
            color: $main-color-dark;
            font-size: $heading-size-2;
            margin: 0;
            margin-top: 2.5%;
            font-family: Reem Kufi;
            line-height: 1.25em;
            opacity: 0.2;
          }
        }
        > .login-platforms {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          grid-gap: 1em;
          justify-content: center;
          margin: 2em 0;
          > div {
            &.login-platform-outer {
              @extend %flex-center;
              border: 2px solid $light-grey-3;
              transition: 0.5s transform;
              height: 45px;
              width: 45px;
              box-sizing: border-box;
              border-radius: 50px;
              cursor: pointer;
              &:hover {
                transform: scale(0.9);
              }
              img {
                object-fit: contain;
                width: 60%;
                height: 60%;
              }
            }
          }
        }
        form {
          &.login-form {
            display: flex;
            flex-flow: column;
            width: 250px;
            button {
              &.login-form-button {
                @include button(
                  $background: $main-color,
                  $color: $white,
                  $padding: 0 1.75em,
                  $font-size: $button-text-size-2,
                  $line-height: 1.8em
                );
                margin-top: 1.25em;
                align-self: center;
                &:hover {
                  transform: scale(0.9);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  main {
    > div {
      &.login-modal {
        width: 80%;
        height: 90%;
      }
      > aside {
        .welcome-text {
          font-size: $heading-size-2-hd !important;
        }
        .sub-welcome-text {
          font-size: $sub-heading-size-2-hd !important;
        }
      }
      > section {
        > h2 {
          &.heading {
            font-size: $heading-size-2-hd !important;
          }
        }
      }
    }
  }
}
