li {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  transition: 0.15s;
  &:hover {
    border: none;
  }
  &.nav-item-active {
    &:first-child {
      border: none;
    }
    border: none;
    div {
      color: #4bb1be;
      background: #fafafa;
      &:hover {
        color: #4bb1be;
        border: none;
        cursor: pointer;
      }
    }
  }
  div {
    z-index: 2;
    position: relative;
    display: flex;
    &.normal {
      padding-left: 30px;
    }
    &.thin {
      padding: 0;
      justify-content: center;
    }
    &:hover {
      border: none;
      color: #00a5a5;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      color: #fff;
      display: block;
      width: 100%;
      padding: 10px;
    }
    div {
      display: flex;
      position: absolute;
      right: 0;
      align-self: center;
      justify-content: center;
      &.show {
        display: flex;
      }
      &.hide {
        display: none;
      }
    }
  }
  &.small-ics i {
    padding: 18px;
    margin-top: 0;
  }
  &.normal-ics i {
    margin: 18px 20px 0 0;
    padding: 0;
  }
  p {
    display: inline-block;
  }
  i {
    display: inline-block;
  }
  &:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.075);
    border-top: 1px solid rgba(255, 255, 255, 0.075);
  }
  ul.submenu {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    &.normal {
      display: flex;
    }
    &.thin {
      display: none;
    }
    li {
      width: 100%;
      display: flex;
      outline: none;
      color: #768d9e;
      text-align: left;
      cursor: pointer;
      padding: 8px 0 8px 58px;
      border: none;
      &.sub-item-active {
        color: #00babe;
      }
      &:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #00babe;
      }
    }
  }
}
