<li
  [ngClass]="menuStatus ? 'small-ics' : 'normal-ics'"
  routerLinkActive="nav-item-active"
  (click)="toggleSubMenu()"
>
  <div>
    <span>
      <!-- <sp routerLink="{{ menuItem.name }}"> -->
      <i [class]="menuItem.icon"></i>
      <p *ngIf="!menuStatus">{{ menuItem.name }}</p>
    </span>
    <div [ngClass]="menuStatus ? 'hide' : 'show'">
      <i
        [ngClass]="isSubMenuOpened ? 'down' : 'left'"
        class="fas fa-chevron-down sub-arrow"
      ></i>
    </div>
  </div>
  <ul [@slide]="stateStatus" #submenu class="submenu">
    <ng-container *ngFor="let subItem of menuItem.submenuItems">
      <li
        (click)="$event.stopPropagation()"
        routerLink="{{ menuItem.name + '/' + subItem.path }}"
        routerLinkActive="sub-item-active"
      >
        {{ subItem.label }}
      </li>
    </ng-container>
  </ul>
</li>
