<div class="flex flex-column">
  <label>Google calendar integration</label>
  <mat-radio-group [(ngModel)]="googleintegration">
    <mat-radio-button [value]="true">Turn on</mat-radio-button>
    <mat-radio-button [value]="false">Turn off</mat-radio-button>
  </mat-radio-group>
  <div class="flex flex-column" *ngIf="googleintegration">
    <a
      target="_blank"
      class="mt-1 mb-1"
      href="http://help.connectingmembers.com/google-calendar-module/creating-a-google-api-key"
    >
      How to get my Google API key
    </a>
    <form
      #event="ngForm"
      class="flex flex-column"
      (ngSubmit)="activateApi(event)"
    >
      <mat-form-field>
        <input name="api-key" ngModel matInput placeholder="Google API key" />
      </mat-form-field>
      <button mat-stroked-button>Add API key</button>
    </form>
  </div>
</div>
<!-- <div *ngIf="auth.user$ | async as user">
  <h3>Logged in as {{ user.displayName }}</h3>
  <img src="{{ user.photoURL }}" width="50px">
  <button (click)="auth.logout()">Logout</button>
-->
<button (click)="auth.getCalendar()">Get Google Calendar</button>
<!---
   <button (click)="auth.insertEvent()">Add Event</button>
  <div *ngFor="let item of auth.calendarItems">
    <h3>{{ item.summary }} - {{ item.status }}</h3>
    <p><em>Created {{ item.created }}</em></p>
    <p>{{ item.description }}</p>
  </div>
</div> -->

<button (click)="auth.login()">Login with Google</button>
