<div class="flex flex-column">
  <label>Google calendar integration</label>
  <mat-radio-group [(ngModel)]="googleintegration" (change)="test()">
    <mat-radio-button [value]="true">Turn on</mat-radio-button>
    <mat-radio-button [value]="false">Turn off</mat-radio-button>
  </mat-radio-group>
  <div class="flex flex-column" *ngIf="googleintegration">
    <div *ngIf="auth.userInfo() as user">
      <h3>Logged in as {{ user.name }}</h3>
      <button (click)="auth.logout()">Logout</button>
    </div>
    <div *ngIf="!auth.userInfo() as user">
      <button (click)="auth.login()">Login with Google</button>
    </div>
  </div>
</div>
