<div *ngFor="let hour of convertedHours" class="hour-block">
  <div class="cal-sidebar" *ngIf="convertedHours.length === 24">
    <div class="cal-sidebar-hour">
      {{ hour | getDate: "hour" }}
    </div>
    <div class="cal-sidebar-spacing"></div>
  </div>
  <div
    *ngIf="!filterEventsCheck(hour, actualMode).length && actualMode === 'day'"
    class="white-box"
    (click)="EventOperations.addEvent(hour)"
  ></div>
  <section
    [ngClass]="{
      event: true,
      'aspect-ratio-out-90': actualMode === 'week' ? true : false,
      'month-mode': actualMode === 'month' ? true : false,
      'day-mode': actualMode === 'day' ? true : false
    }"
    *ngFor="
      let event of filterEventsCheck(hour, actualMode);
      let eventIndex = index
    "
    [appEventsLength]="{
      eventIndex: eventIndex,
      monthMode: actualMode === 'month' ? true : false
    }"
    (click)="EventOperations.updateEvent(event)"
  >
    <div
      [ngClass]="{
        'aspect-ratio-in': actualMode === 'week' ? true : false,
        'event-inner': true
      }"
    >
      <time>{{ event.start.date | getDate: "hour" }}</time>
      <b
        class="event-name"
        [class.outdated]="checkOutdated(event.start.date)"
        [class.incoming]="checkIncoming(event.start.date)"
        >{{ event.summary }}</b
      >
      <span class="event-location">
        <b>United States, 13px</b>
        <img
          class="location-icon"
          width="13"
          height="13"
          src="assets/icons/location-pin.svg"
        />
      </span>
      <span class="event-outdated" *ngIf="checkOutdated(event.start.date)">
        Outdated
      </span>
      <span class="event-incoming" *ngIf="checkIncoming(event.start.date)">
        Incoming
      </span>
    </div>
  </section>
</div>
