$border-columns-color-month: rgba(0, 0, 0, 0.05);

$red-darker: rgb(255, 25, 0);
$red-lighter: rgb(244, 67, 54);

$date-color: rgb(84, 84, 84);

$dark-grey-darker: rgb(80, 80, 80);
$dark-grey-lighter: rgb(70, 70, 70);

$medium-grey-darker: rgb(175, 175, 175);
$medium-grey-lighter: rgb(237, 237, 237);

$grey-darker: rgb(240, 240, 240);
$grey-lighter: rgb(245, 245, 245);

$light-grey-darker: rgb(247, 247, 247);
$light-grey-lighter: rgb(251, 251, 251);

$incoming-color-bg: rgb(243, 243, 243);
$outdated-color-bg: rgb(190, 190, 190);

$incoming-color-txt: rgb(120, 120, 120);
$outdated-color-txt: rgb(85, 85, 85);

$black-transparent: rgba(0, 0, 0, 0.1);

$red-outdated: rgb(255, 0, 0);
$green-incoming: rgb(0, 173, 0);

.hour-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .cal-sidebar {
    display: flex;
    flex-basis: 100%;

    .cal-sidebar-hour {
      flex-basis: 5%;
      font-family: "Montserrat";
    }

    .cal-sidebar-spacing {
      border-bottom: 1px solid $medium-grey-darker;
      flex-basis: 95%;
      align-self: center;
      position: relative;

      &::before,
      &::after {
        border-left: 1px solid $medium-grey-darker;
        content: " ";
        align-self: center;
        position: absolute;
        left: 15px;
        height: 40px;
      }

      &::before {
        top: -40px;
      }

      &::after {
        top: 0;
      }
    }
  }

  .white-box {
    border-left: 1px solid $medium-grey-darker;
    position: relative;
    flex-basis: 95%;
    height: 40px;
    left: 15px;
    cursor: pointer;
  }

  .event {
    outline: none;
    cursor: pointer;
    border: 1px solid $black-transparent;
    border-top: unset;
    border-bottom: unset;
    width: 100%;
    position: relative;

    &.day-mode {
      display: flex;
      justify-content: flex-end;
      border: unset;

      &:hover {
        background-color: $light-grey-darker;
      }

      .event-inner {
        padding: 0 0 0.5em 15px;
        border-left: 1px solid $medium-grey-darker;
        flex-shrink: 1;
        flex-basis: calc(95% - 15px);
        flex-flow: row;
        align-items: center;

        .event-outdated,
        .event-incoming {
          order: 4;
          flex-basis: 15%;
          text-align: center;
          font-weight: bold;
        }

        .event-outdated {
          color: $red-outdated;
        }

        .event-incoming {
          color: $green-incoming;
        }

        time {
          order: 2;
          padding: 1.5em 1em;
          flex-basis: 10%;
        }

        .event-name {
          order: 1;
          flex-basis: 60%;
          background: $red-lighter;
          padding: 1em;
          border-radius: 10px;

          &.outdated {
            background-color: $outdated-color-bg;
            color: $outdated-color-txt;
          }

          &.incoming {
            background-color: $incoming-color-bg;
            color: $incoming-color-txt;
          }
        }

        .event-location {
          order: 3;
          flex-basis: 15%;
        }
      }
    }

    &.month-mode {
      margin: unset;
      padding: 0 0.5em;
      justify-content: left;
      border: unset;

      .event-inner {
        padding: 0;

        time {
          display: none;
        }

        .event-location {
          display: none;
        }
      }
    }

    &.hidden-event {
      display: none;
    }

    .event-inner {
      padding: 3em 2em;
      display: flex;
      flex-flow: column;

      b {
        margin-top: 0.5em;
        flex-grow: 1;
      }

      &:focus {
        background: $medium-grey-lighter;
      }

      time {
        color: $red-darker;
        font-weight: bold;
        font-size: 1em;
        margin-left: -0.2em;
      }

      .event-location {
        font-size: 13px;

        img.location-icon {
          margin-left: 0.5em;
        }
      }
    }
  }
}

.aspect-ratio-out-90 {
  padding-top: 90%;
  position: relative;
}

.aspect-ratio-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
