$border-header-color: rgba(240, 240, 240, 1);
$border-columns-color-week: rgba(0, 0, 0, 0.05);
$highligted-day-color: rgb(255, 26, 0);
$date-color: rgb(84, 84, 84);

@mixin flex-adjust(
  $flex-flow: row,
  $align-items: unset,
  $justify-content: unset
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

header {
  padding: 1em 0.5em;
  width: 100%;
  text-transform: capitalize;
  @include flex-adjust(row, center, space-between);
  border-right: 1px solid $border-header-color;

  &.week-mode {
    background: #fff;
    border: 1px solid $border-columns-color-week;

    .cal-head-in {
      @include flex-adjust(column, center, center);
      width: 5em;

      .day-of-week {
        align-self: start;
      }

      .date {
        color: $date-color;
        font-weight: 900;
        font-size: 3.5em;
      }
    }
  }

  &.month-mode {
    .date {
      display: none;
    }
  }

  &.day-mode {
    border-right: unset;
    padding: 0 0.5em;

    .cal-head-in {
      display: flex;
      flex-flow: column;

      b.day-of-week {
        font-size: 1.2em;
      }
    }
  }

  b.date {
    font-weight: 900;
    font-size: 2.5em;
  }

  &.highligted-day {
    b {
      color: $highligted-day-color;
    }
  }
}

.aspect-ratio-out-70 {
  padding-top: 70%;
  position: relative;
}

.aspect-ratio-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
