@import "./variables.scss";

@mixin button(
  $background: #fff,
  $color: $dark-grey-2,
  $border-color: transparent,
  $font-size: $button-text-size,
  $height: 2em
) {
  background: $background;
  outline: none;
  border: 1px solid $border-color;
  border-radius: 10px;
  cursor: pointer;
  height: $height;
  font-size: $font-size;
  line-height: $height / 2;
}

@mixin list-style-grid($grid-template-columns) {
  display: grid;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0em;
  grid-template-columns: $grid-template-columns;
  li {
    text-align: center;
  }
}
