$main-color: #4bb1be;
$main-color-dark: rgba(75, 177, 190, 0.81);
$main-color-dark-2: #00899b;
$main-color-light: #a3c0dd;
$white: #fff;
$dark-grey: #6d6d6d;
$dark-grey-2: #464646;
$light-grey: #acacac;
$light-grey-2: #e1e1e1;

$heading-color: $dark-grey;

$heading-size: 1.1em;
$sub-heading-size: 0.9em;
$button-text-size: 1em;
