/* COLORS */
$main-color: rgb(75, 177, 190);
$main-color-dark: rgba(75, 177, 190, 0.81);
$main-color-dark-2: rgb(0, 137, 155);
$main-color-light: rgb(163, 192, 221);
$main-color-light-2: rgb(95, 197, 210);
$white: #fff;
$dark-grey: rgb(109, 109, 109);
$dark-grey-2: rgb(70, 70, 70);
$dark-grey-3: rgb(100, 100, 100);
$light-grey: rgb(172, 172, 172);
$light-grey-2: rgb(225, 225, 225);
$light-grey-3: rgb(235, 235, 235);

/* COMPONENTS COLOR */
$heading-color: $dark-grey;

/* FONT-SIZE */
$heading-size: 1.1em;
$sub-heading-size: 0.9em;
$heading-size-2: 3em;
$sub-heading-size-2: 1.75em;
$heading-size-2-hd: 2em;
$sub-heading-size-2-hd: 1.25em;

$button-text-size: 1em;
$button-text-size-2: 1.4em;
